### Imports

In [1]:
import pypowsybl.network as pp
import pypowsybl.loadflow as lf
import pypowsybl as ppow
import pandapower as pp
from pypowsybl.network import _path_to_str

C:\Users\rtschupp\AppData\Local\pypoetry\Cache\virtualenvs\pypowsybltest-3L0u-b9v-py3.10\lib\site-packages\grid2op\Backend\PandaPowerBackend.py:31: UserWarning: Numba cannot be loaded. You will gain possibly massive speed if installing it by
	C:\Users\rtschupp\AppData\Local\pypoetry\Cache\virtualenvs\pypowsybltest-3L0u-b9v-py3.10\Scripts\python.exe -m pip install numba

  warnings.warn(
C:\Users\rtschupp\AppData\Local\pypoetry\Cache\virtualenvs\pypowsybltest-3L0u-b9v-py3.10\lib\site-packages\lightsim2grid\securityAnalysis.py:76: FutureWarning: In the future `np.str` will be defined as the corresponding NumPy scalar.
  STR_TYPES = (str, np.str, np.str_)

In [2]:
full_path = "../src/data_test/l2rpn_case14_sandbox_Pypowsybl/grid.json"

In [3]:
pandapow_net = pp.from_json(full_path)

In [4]:
mat_path = full_path[:2] + full_path[2:].split('.')[0] + '.mat'

In [5]:
mat_path

'../src/data_test/l2rpn_case14_sandbox_Pypowsybl/grid.mat'

In [6]:
_ = pp.converter.to_mpc(pandapow_net, mat_path , init='flat')

gen vm_pu > bus max_vm_pu for gens [2 3 4]. Setting bus limit for these gens.

In [7]:
grid = ppow.network.load(_path_to_str(mat_path),{'matpower.import.ignore-base-voltage': 'false'})

### Illustrative example the transformers

In [8]:
pandapow_net.trafo

,name,std_type,hv_bus,lv_bus,sn_mva,vn_hv_kv,vn_lv_kv,vk_percent,vkr_percent,pfe_kw,i0_percent,shift_degree,tap_side,tap_neutral,tap_min,tap_max,tap_step_percent,tap_step_degree,tap_pos,tap_phase_shifter,parallel,df,in_service,max_loading_percent
0,None,None,3,6,9900.0,138.0,14.0,2070.288,0.0,0.0,0.0,0.0,hv,0,NaN,NaN,2.2,0.0,-1,False,1,1.0,True,100.0
1,None,None,3,8,9900.0,138.0,20.0,5506.182,0.0,0.0,0.0,0.0,hv,0,NaN,NaN,3.1,0.0,-1,False,1,1.0,True,100.0
2,None,None,4,5,9900.0,138.0,20.0,2494.998,0.0,0.0,0.0,0.0,hv,0,NaN,NaN,6.8,0.0,-1,False,1,1.0,True,100.0
3,None,None,6,7,9900.0,14.0,12.0,1743.885,0.0,0.0,0.0,0.0,False,0,NaN,NaN,0.0,0.0,0,False,1,1.0,True,100.0
4,None,None,8,6,9900.0,20.0,14.0,1089.099,0.0,0.0,0.0,0.0,False,0,NaN,NaN,0.0,0.0,0,False,1,1.0,True,100.0

In [9]:
grid.get_2_windings_transformers()

,name,r,x,g,b,rated_u1,rated_u2,rated_s,p1,q1,i1,p2,q2,i2,voltage_level1_id,voltage_level2_id,bus1_id,bus2_id,connected1,connected2
id,,,,,,,,,,,,,,,,,,,,
TWT-4-7,,0.0,0.409875,0.0,0.0,134.964,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VL-4,VL-7,VL-4_0,VL-7_0,True,True
TWT-4-9,,0.0,2.224720,0.0,0.0,133.722,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VL-4,VL-9,VL-4_0,VL-9_0,True,True
TWT-5-6,,0.0,1.008080,0.0,0.0,128.616,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VL-5,VL-6,VL-5_0,VL-6_0,True,True