### Imports

In [1]:
import pypowsybl.network as pp
import pypowsybl.loadflow as lf
import pypowsybl as ppow

### Definition of doubling bus function as we are doing in Grid2op

In [6]:
def _double_buses(grid):

    df = grid.get_buses()
    L = []
    for elem in grid.get_voltage_levels().index:
        for bus_id in grid.get_bus_breaker_topology(voltage_level_id=elem).buses.index:
            L.append(bus_id)
    L_voltage_id = df['voltage_level_id'].to_list()
    for i in range(len(L)):
        grid.create_buses(id=L[i] + '_bis', voltage_level_id=L_voltage_id[i], name=df['name'][i])

### Move connectable test

#### Description of network

In [2]:
network_pp = pp.create_ieee14()

In [3]:
network_pp.get_lines(all_attributes=True)

,name,r,x,g1,b1,g2,b2,p1,q1,i1,...,voltage_level2_id,bus1_id,bus_breaker_bus1_id,node1,bus2_id,bus_breaker_bus2_id,node2,connected1,connected2,fictitious
id,,,,,,,,,,,,,,,,,,,,,
L1-2-1,,3.532005,10.783732,0.0,0.000145,0.0,0.000145,NaN,NaN,NaN,...,VL2,VL1_0,B1,-1,VL2_0,B2,-1,True,True,False
L1-5-1,,9.846967,40.649040,0.0,0.000135,0.0,0.000135,NaN,NaN,NaN,...,VL5,VL1_0,B1,-1,VL5_0,B5,-1,True,True,False
L2-3-1,,8.563927,36.080033,0.0,0.000120,0.0,0.000120,NaN,NaN,NaN,...,VL3,VL2_0,B2,-1,VL3_0,B3,-1,True,True,False
L2-4-1,,10.590547,32.134320,0.0,0.000093,0.0,0.000093,NaN,NaN,NaN,...,VL4,VL2_0,B2,-1,VL4_0,B4,-1,True,True,False
L2-5-1,,10.379137,31.689630,0.0,0.000095,0.0,0.000095,NaN,NaN,NaN,...,VL5,VL2_0,B2,-1,VL5_0,B5,-1,True,True,False
L3-4-1,,12.212573,31.170217,0.0,0.000035,0.0,0.000035,NaN,NaN,NaN,...,VL4,VL3_0,B3,-1,VL4_0,B4,-1,True,True,False
L4-5-1,,2.433038,7.674548,0.0,0.000000,0.0,0.000000,NaN,NaN,NaN,...,VL5,VL4_0,B4,-1,VL5_0,B5,-1,True,True,False
L6-11-1,,0.136771,0.286416,0.0,0.000000,0.0,0.000000,NaN,NaN,NaN,...,VL11,VL6_0,B6,-1,VL11_0,B11,-1,True,True,False
L6-12-1,,0.176990,0.368366,0.0,0.000000,0.0,0.000000,NaN,NaN,NaN,...,VL12,VL6_0,B6,-1,VL12_0,B12,-1,True,True,False
L6-13-1,,0.095256,0.187589,0.0,0.000000,0.0,0.000000,NaN,NaN,NaN,...,VL13,VL6_0,B6,-1,VL13_0,B13,-1,True,True,False
L7-8-1,,0.000000,0.493220,0.0,-0.868925,0.0,0.608248,NaN,NaN,NaN,...,VL8,VL7_0,B7,-1,VL8_0,B8,-1,True,True,False
L7-9-1,,0.000000,0.184817,0.0,0.772966,0.0,-0.901794,NaN,NaN,NaN,...,VL9,VL7_0,B7,-1,VL9_0,B9,-1,True,True,False
L9-10-1,,0.045806,0.121680,0.0,0.000000,0.0,0.000000,NaN,NaN,NaN,...,VL10,VL9_0,B9,-1,VL10_0,B10,-1,True,True,False
L9-14-1,,0.183038,0.389347,0.0,0.000000,0.0,0.000000,NaN,NaN,NaN,...,VL14,VL9_0,B9,-1,VL14_0,B14,-1,True,True,False
L10-11-1,,0.118152,0.276581,0.0,0.000000,0.0,0.000000,NaN,NaN,NaN,...,VL11,VL10_0,B10,-1,VL11_0,B11,-1,True,True,False
L12-13-1,,0.318125,0.287827,0.0,0.000000,0.0,0.000000,NaN,NaN,NaN,...,VL13,VL12_0,B12,-1,VL13_0,B13,-1,True,True,False
L13-14-1,,0.246139,0.501149,0.0,0.000000,0.0,0.000000,NaN,NaN,NaN,...,VL14,VL13_0,B13,-1,VL14_0,B14,-1,True,True,False

In [4]:
network_pp.get_loads(all_attributes=True)

,name,type,p0,q0,p,q,i,voltage_level_id,bus_id,bus_breaker_bus_id,node,connected,fictitious
id,,,,,,,,,,,,,
B2-L,,UNDEFINED,21.7,12.7,NaN,NaN,NaN,VL2,VL2_0,B2,-1,True,False
B3-L,,UNDEFINED,94.2,19.0,NaN,NaN,NaN,VL3,VL3_0,B3,-1,True,False
B4-L,,UNDEFINED,47.8,-3.9,NaN,NaN,NaN,VL4,VL4_0,B4,-1,True,False
B5-L,,UNDEFINED,7.6,1.6,NaN,NaN,NaN,VL5,VL5_0,B5,-1,True,False
B6-L,,UNDEFINED,11.2,7.5,NaN,NaN,NaN,VL6,VL6_0,B6,-1,True,False
B9-L,,UNDEFINED,29.5,16.6,NaN,NaN,NaN,VL9,VL9_0,B9,-1,True,False
B10-L,,UNDEFINED,9.0,5.8,NaN,NaN,NaN,VL10,VL10_0,B10,-1,True,False
B11-L,,UNDEFINED,3.5,1.8,NaN,NaN,NaN,VL11,VL11_0,B11,-1,True,False
B12-L,,UNDEFINED,6.1,1.6,NaN,NaN,NaN,VL12,VL12_0,B12,-1,True,False
B13-L,,UNDEFINED,13.5,5.8,NaN,NaN,NaN,VL13,VL13_0,B13,-1,True,False
B14-L,,UNDEFINED,14.9,5.0,NaN,NaN,NaN,VL14,VL14_0,B14,-1,True,False

In [5]:
network_pp.get_generators(all_attributes=True)

,name,energy_source,target_p,min_p,max_p,min_q,max_q,min_q_at_target_p,max_q_at_target_p,min_q_at_p,...,regulated_element_id,p,q,i,voltage_level_id,bus_id,bus_breaker_bus_id,node,connected,fictitious
id,,,,,,,,,,,,,,,,,,,,,
B1-G,,OTHER,232.4,-9999.0,9999.0,-1.797693e+308,1.797693e+308,-1.797693e+308,1.797693e+308,-1.797693e+308,...,,NaN,NaN,NaN,VL1,VL1_0,B1,-1,True,False
B2-G,,OTHER,40.0,-9999.0,9999.0,-4.000000e+01,5.000000e+01,-4.000000e+01,5.000000e+01,-4.000000e+01,...,,NaN,NaN,NaN,VL2,VL2_0,B2,-1,True,False
B3-G,,OTHER,0.0,-9999.0,9999.0,0.000000e+00,4.000000e+01,0.000000e+00,4.000000e+01,0.000000e+00,...,,NaN,NaN,NaN,VL3,VL3_0,B3,-1,True,False
B6-G,,OTHER,0.0,-9999.0,9999.0,-6.000000e+00,2.400000e+01,-6.000000e+00,2.400000e+01,-6.000000e+00,...,,NaN,NaN,NaN,VL6,VL6_0,B6,-1,True,False
B8-G,,OTHER,0.0,-9999.0,9999.0,-6.000000e+00,2.400000e+01,-6.000000e+00,2.400000e+01,-6.000000e+00,...,,NaN,NaN,NaN,VL8,VL8_0,B8,-1,True,False

#### Moving generator only : verification of bug

In [7]:
network_pp = pp.create_ieee14()
_double_buses(network_pp)

ppow.network.move_connectable(network=network_pp, equipment_id='B2-G', bus_origin_id='B2',
                                bus_destination_id='B2_bis')

In [8]:
results_pypow = lf.run_ac(network_pp)

Convergence but can not access to generators

In [9]:
results_pypow

[ComponentResult(connected_component_num=0, synchronous_component_num=0, status=CONVERGED, iteration_count=4, slack_bus_id='VL1_0', slack_bus_active_power_mismatch=42.67140651682162, distributed_active_power=0.0007053703923176613)]

In [10]:
network_pp.get_generators(all_attributes=True)

PyPowsyblError:

#### Test with load

In [11]:
network_pp = pp.create_ieee14()
_double_buses(network_pp)

ppow.network.move_connectable(network=network_pp, equipment_id='B2-L', bus_origin_id='B2',
                                bus_destination_id='B2_bis')

In [12]:
results_pypow = lf.run_ac(network_pp)

Converge and can access to load even if isolate

In [13]:
results_pypow

[ComponentResult(connected_component_num=0, synchronous_component_num=0, status=CONVERGED, iteration_count=3, slack_bus_id='VL1_0', slack_bus_active_power_mismatch=-22.82232432434799, distributed_active_power=0.0)]

#### Test with line changes before

In [14]:
network_pp = pp.create_ieee14()
_double_buses(network_pp)

pp.move_connectable(network=network_pp,equipment_id='L2-3-1', bus_origin_id='B2', bus_destination_id='B2_bis')
pp.move_connectable(network=network_pp,equipment_id='B2-G', bus_origin_id='B2', bus_destination_id='B2_bis')

It seems there is a Powsybl Error

In [15]:
results_pypow = lf.run_ac(network_pp)

PyPowsyblError: java.lang.NullPointerException

#### Same test with load instead of generator

In [16]:
network_pp = pp.create_ieee14()
_double_buses(network_pp)

pp.move_connectable(network=network_pp,equipment_id='L2-3-1', bus_origin_id='B2', bus_destination_id='B2_bis')
ppow.network.move_connectable(network=network_pp, equipment_id='B2-L', bus_origin_id='B2', bus_destination_id='B2_bis')

In [17]:
results_pypow = lf.run_ac(network_pp)

In [18]:
results_pypow

[ComponentResult(connected_component_num=0, synchronous_component_num=0, status=CONVERGED, iteration_count=9, slack_bus_id='VL1_0', slack_bus_active_power_mismatch=20.989262691554433, distributed_active_power=-1.7883366733083328)]